.navbar {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
   z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: font-size 0.3s ease;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.navbar-link:hover {
  color: var(--light-grey);
  transform: scale(1.05);
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s, transform 0.3s;
}

.navbar-button:hover {
  color: var(--light-grey);
  transform: scale(1.05);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s ease;
}

.hamburger div.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger div.open:nth-child(2) {
  opacity: 0;
}

.hamburger div.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-links.active {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .navbar-links.active {
    display: flex;
    opacity: 1;
  }

  .hamburger {
    display: flex;
    margin-right: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-container {
    flex-wrap: nowrap;
    width: 100%;
  }

  .navbar-brand,
  .hamburger,
  .toggle-btn {
    margin-right: 0.5rem;
  }
}
