.word-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.word-page-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.word-page-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.word-page-container audio {
  margin-top: 10px;
}
